<% include ../partials/header %>
<div class="row d-flex justify-content-center">
	<div class="form-card white-panel col-11 col-sm-9 col-md-8 col-lg-6 col-xl-4">
		<div class="pb-2">
			<h5 class="text-center">Edit <%= campground.name %></h5>
			<hr class="white-hr">
		</div>
		<div class="">	
			<form class="p-6" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
				<input class="form-control m-1" type="text" name="campground[name]" value="<%= campground.name %>">
				<input class="form-control m-1"type="text" name="campground[image]" value="<%= campground.image %>">
				<textarea class = "form-control m-1" name="campground[description]" placeholder="description" cols="35" rows="10" ><%= campground.description %></textarea>
				<input class="brn btn-primary btn-block m-1" type="submit">
			</form>
			<a href="/campgrounds/<%= campground._id %>">Back</a>
		</div>	
	</div>
</div>

<% include ../partials/footer %>